<div class="menu__content">
  <div class="menu__option active">
    <i class="material-icons">
      home
    </i>
    strona główna
  </div>
  <div class="menu__option">
    <i class="material-icons">
      home
    </i>
    forum
  </div>
  <div class="menu__option">
    <i class="material-icons">
      home
    </i>
    wiki
  </div>
  <div class="menu__option">
    <i class="material-icons">
      home
    </i>
    hosting
  </div>
  <div class="menu__option">
    <i class="material-icons">
      home
    </i>
    galeria
  </div>
  <div class="menu__option">
    <i class="material-icons">
      home
    </i>
    menu
  </div>
</div>
