<div class="main-page-content__content">
  <div class="main-page-content__card">
    <img class="main-page-content__img" src="http://g-works.pl/img/items/img-people2-square.jpg"/>
    <div class="main-page-content__card-content">
      <h1>tytuł #111</h1>
      <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum eget eros at venenatis. Sed ornare lectus
        sapien, non vulputate turpis blandit vitae. Nulla nisl tellus, vulputate vel rhoncus et, luctus a elit. Proin
        porttitor dolor suscipit orci vulputate, et tempor sem consectetur. Ut a rhoncus arcu. Pellentesque in pretium
        enim, semper gravida arcu. Suspendisse quis hendrerit magna. Aenean a blandit erat, at interdum libero.</p>
      <a href="#">czytaj więcej</a>
    </div>
  </div>
  <div class="main-page-content__card">
    <img class="main-page-content__img" src="http://g-works.pl/img/items/img-people2-square.jpg"/>
    <div class="main-page-content__card-content">
      <h1>tytuł #111</h1>
      <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum eget eros at venenatis. Sed ornare lectus
        sapien, non vulputate turpis blandit vitae. Nulla nisl tellus, vulputate vel rhoncus et, luctus a elit. Proin
        porttitor dolor suscipit orci vulputate, et tempor sem consectetur. Ut a rhoncus arcu. Pellentesque in pretium
        enim, semper gravida arcu. Suspendisse quis hendrerit magna. Aenean a blandit erat, at interdum libero.</p>
      <a href="#">czytaj więcej</a>
    </div>
  </div>
  <div class="main-page-content__card">
    <img class="main-page-content__img" src="http://g-works.pl/img/items/img-people2-square.jpg"/>
    <div class="main-page-content__card-content">
      <h1>tytuł #111</h1>
      <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum eget eros at venenatis. Sed ornare lectus
        sapien, non vulputate turpis blandit vitae. Nulla nisl tellus, vulputate vel rhoncus et, luctus a elit. Proin
        porttitor dolor suscipit orci vulputate, et tempor sem consectetur. Ut a rhoncus arcu. Pellentesque in pretium
        enim, semper gravida arcu. Suspendisse quis hendrerit magna. Aenean a blandit erat, at interdum libero.</p>
      <a href="#">czytaj więcej</a>
    </div>
  </div>
  <div class="main-page-content__card">
    <img class="main-page-content__img" src="http://g-works.pl/img/items/img-people2-square.jpg"/>
    <div class="main-page-content__card-content">
      <h1>tytuł #111</h1>
      <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum eget eros at venenatis. Sed ornare lectus
        sapien, non vulputate turpis blandit vitae. Nulla nisl tellus, vulputate vel rhoncus et, luctus a elit. Proin
        porttitor dolor suscipit orci vulputate, et tempor sem consectetur. Ut a rhoncus arcu. Pellentesque in pretium
        enim, semper gravida arcu. Suspendisse quis hendrerit magna. Aenean a blandit erat, at interdum libero.</p>
      <a href="#">czytaj więcej</a>
    </div>
  </div>
</div>
