.main-page__content {
  width: 100%;
  min-height: 100vh;
  background: #e0e0e0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 2vh;
}

//app-main-page-posts {
//
//}
