.main-page__content {
  background: #e0e0e0;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.main-page__content-elements {
  background: #eeeeee;
  display: flex;
  flex-direction: row;
  max-width: 70%;
  padding-top: 10px;
}
