.main-page-advert__content {
  display: flex;
  flex-direction: column;
}

.main-page-advert__option {
  width: 200px;
  height: 200px;
  background: #ffffff;
  border-top: 4px solid darkblue;
  margin-bottom: 8px;
}
